<!DOCTYPE html>
<html>
<head>
    <title>Agência de Viagens</title>
</head>
<body>
    <h1>Cadastrar cliente</h1>
    
    <form action="/criar-cliente" method="post">
        <label for="">Nome do cliente:</label><br>
        <input type="text" name="nome" placeholder="Nome completo"><br><br>

        <label for="">Endereço do cliente:</label><br>
        <input type="text" name="end_cliente" placeholder="Endereço"><br><br>

        <label for="">CEP:</label><br>
        <input type="text" name="cep" placeholder="CEP"><br><br>

        <label for="">Telefone do cliente:</label><br>
        <input type="text" name="tel_cliente" placeholder="Telefone"><br><br>

        <label for="">E-mail do cliente:</label><br>
        <input type="text" name="email" placeholder="E-mail"><br><br>
        
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>