<!DOCTYPE html>
<html>
<head>
    <title>Agência de Viagens</title>
</head>
<body>
    <h1>Agência de Viagens</h1>
    <a href="/criar"><button>Cadastrar cliente</button></a>
    <a href="/listar"><button>Listar clientes</button></a>
    <br><br>
    <a href="/sair"><button>Sair</button></a>
</body>
</html>

